body {
    text-align: center;
    background-image: url('https://res.cloudinary.com/ibrahem/image/upload/v1530198965/back-ground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
  font-size: 3em;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 2px darkgrey outset;
  color: darkred;
  box-shadow: 10px 5px 5px grey;
}

.counter{
  font-size: 1.5em;
  font-weight: bold;

}
